<div class="col-lg-4 float-left mt-3">
  <h3>User panel</h3>
  <hr>

  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
      aria-controls="v-pills-home" aria-selected="false" [routerLink]="['listado']" [routerLinkActive]="['active']">My topics</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
      aria-controls="v-pills-profile" aria-selected="false" [routerLink]="['crear']" [routerLinkActive]="['active']">Add topics</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
      aria-controls="v-pills-settings" aria-selected="false" [routerLink]="['/ajustes']" [routerLinkActive]="['active']">Settings</a>
  </div>

  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
  </div>

</div>

<div class="col-lg-8 float-right mt-3">
  <router-outlet></router-outlet>
</div>