<div class="col-lg-12">
  <h3>{{page_title}}</h3>
  <hr>

  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topic of topics">
        <td>{{topic.title}}</td>
        <td>{{topic.date | amLocale:'en' | amDateFormat:'LL'}}</td>
        <td>
          <a [routerLink]="['/panel/editar',topic._id]" class="btn btn-sm btn-warning mr-2 mt-2">Edit</a>
        
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-sm btn-danger mt-2" data-toggle="modal" [attr.data-target]="'#modal'+topic._id">
            Delete
          </button>

          <!-- The Modal -->
          <div class="modal" id="{{'modal'+topic._id}}">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Are you sure?</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  You are about to delete the topic {{topic.title}}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <a (click)="deleteTopic(topic._id)" class="btn btn-danger" data-dismiss="modal">Delete</a>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
</div>