<div class="col-lg-10">
  <h3>{{page_title}}</h3>
  <hr>
  <div class="alert alert-success col-md-12 mt-3" *ngIf="status == 'success' && !is_edit">
    The topic has been saved successfully.
  </div>

  <div class="alert alert-danger col-md-12 mt-3" *ngIf="status == 'error' &&  !is_edit">
    The topic could not be saved successfully.
  </div>

  <div class="alert alert-success col-md-12 mt-3" *ngIf="status == 'success' && is_edit">
    The topic has been updated successfully.
  </div>

  <div class="alert alert-danger col-md-12 mt-3" *ngIf="status == 'error' && is_edit">
    The topic has been updated successfully.
  </div>

  <form action="" #addTopic="ngForm" (ngSubmit)="onSubmit(addTopic)">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="name" class="form-control" #title="ngModel" [(ngModel)]="topic.title" required>
      <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">Invalid title</small>
    </div>

    <div class="form-group">
      <label for="content">Content or question</label>
      <textarea  name="content" class="form-control" #content="ngModel" [(ngModel)]="topic.content" required></textarea>
      <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">Invalid content</small>
    </div>

    <div class="form-group">
      <label for="code">Code</label>
      <textarea name="code" class="form-control" #code="ngModel" [(ngModel)]="topic.code"></textarea>
      <small *ngIf="!code.valid && code.touched" class="invalid-feedback d-block">Invalid code</small>
    </div>

    <div class="form-group">
      <label for="lang">Programming language</label>
      <input type="text" name="lang" class="form-control" #lang="ngModel" [(ngModel)]="topic.lang" required>
      <small *ngIf="!lang.valid && lang.touched" class="invalid-feedback d-block">Invalid language</small>
    </div>

    <input type="submit" value="{{page_title}}" class="btn btn-success" [disabled]="addTopic.invalid">

  </form>

</div>